.wrapper {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 500px;

  &--hidden {
    max-height: 0;
  }
}

.content {
  padding: 12px;
  border: 1px solid black;
}

.acordion {
  width: 250px;
}
